@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Pacifico&family=Protest+Strike&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.caridina {
    font-family: "Pacifico", cursive;
    font-weight: 600;  /* Kalın font */
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.logo {
    width: 70px;
    height: 60px;
}

/* header.css */
#carouselExample {
    max-width: 80%; /* Boyutunu küçültmek için */
    margin: 0 auto; /* Ortalamak için */
    border-radius: 15px; /* Köşeleri oval yapmak için */
    overflow: hidden; /* Kenarlarda taşma olmaması için */
}

.carousel-inner {
    border-radius: 15px; /* İçindeki resimler de oval olacak */
}

.carousel-item img {
    border-radius: 15px; /* Resimlerin de oval olması için */
}

.btnn {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
    margin: 0 auto;
    display: inline-block;

    text-align: center;
  }
  
  .btnn:hover {
    background-color: transparent;
    color: #007BFF;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
  }
  
  .btnn:active {
    transform: translateY(2px);
  }
  
  

@media (max-width: 768px) {
    /* navbar */
    .items {
        gap: 20px;
    }
    .menu {
        display: none;
    }
    .navbar {
        margin-inline: 30px;
    }
    .name {
        font-size: 25px;
    }
    /* navbar end */
    .caridina {
        font-size: 30px;
    }
    #carouselExample {
        max-width: 100%;
    }
}

@media (max-width: 475px) {
    /* navbar */
    .items {
        display: none;
    }
    .menu {
        display: block;
    }
    .navbar {
        margin-inline: 30px;
    }
    /* navbar end */
    .home {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .left {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
    }
    .home-span {
        color: #457B9D;
        font-size: 24px;
        font-weight: 400;
    }
    .home-header {
        color: #000;
        font-size: 26px;
        font-weight: 700;
    }
    .home-paragraph {
        color: rgba(0, 0, 0, 0.80);
        font-size: 16px;
        font-weight: 400;
    }
    .right {
        width: 40%;
        object-fit: cover;
    }
    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}